.title {
    margin-left: 150px;
    width: 70px;
    text-align: center;
}

.img {
    width: 50px;
    height: 30px;
}

.buttons {
    display: flex;
    width: 400px;
    height: 30px;
    justify-content: space-around;
    align-items: end;
}

.buttons__button {
    width: 100px;
    height: 30px;
    background-color: rgb(32, 31, 31);
    color: white;
}